/*.home{
    width: 420px;
    height: 500px;

    color: #fff;
    border-radius: 10px ;
    padding: 30px 40px;
}*/
.home h1 {
    font-size: 36px;
    text-align: center;
}
.home .items{
    width:800px ;
    height: 80px;
    background: #fff;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #0c0c0c;
    padding: 20px 45px 20px 20px;
    margin: 30px 0 ;
    text-align: center;
}
