input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  color: #444;
  background-color: #fafafa;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #fca389;
  outline: none;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #aaa;
}

textarea {
  resize: vertical;
  height: 100px;
}
.blog-item {
  border: 2px solid #ccc; 
  border-radius: 8px;     
  padding: 16px;          
  margin: 10px 0;       
  background-color: #f9f9f9; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
